.footer-page {
  align-items: center;  
  background-color: $blue;
  display: flex;
  flex-direction: column;
    
  .footer-logo {
    height: 50px;
    margin: 10px;
  }
  
  .footer-title {
    color: $white;
    font-size: $text-medium;
    margin: 10px;
  }

  .footer-text {
    align-self: flex-end;
    color: $white;
    font-size: $text-small;
    margin: 10px;
  }
}
