.tech { 
  align-items: center; 
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 200px;
  padding: 30px;
  position: relative;
  width: 100%;

  .tech-logo {
    height: $tech-logo-size;
    margin-bottom: 5px;
    width: $tech-logo-size;
  }

  .tech-title {
    font-size: $text-medium;
    margin: 5px;
  }

  .tech-release {
    font-size: $text-small;
    font-weight: bold;
    margin: 5px 0;
  }

  .tech-text { 
    font-size: $text-small;
    justify-content: center;
    margin-top: 5px;
    text-align: center;
  }

  &:first-child {
    grid-row: 1/3;
    justify-content: center;
    justify-self: flex-end;
    border-right: 1px solid $green;
  }
}
