.tech { 
  align-items: center; 
  background-color: $green; 
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: $tech-padding ;
  position: relative;
  @extend %tech-container-size;

  .tech-logo {
    height: $tech-logo-size;
    margin-bottom: $tech-margin;
    width: $tech-logo-size;
  }

  .tech-title {
    font-size: $text-medium 0;
    margin: $tech-margin;
  }

  .tech-release {
    font-size: $text-small;
    font-weight: bold;
    margin: $tech-margin 0;
  }

  .tech-text { 
    font-size: $text-small;
    justify-content: center;
    margin-top: $tech-margin;
    text-align: center;
  }

  &::before {
    background-color: $white;
    border: 1px solid $green;
    bottom: $tech-border-size;
    content: "";
    position: absolute;
    right: $tech-border-size;
    z-index: -1;
    @extend %tech-container-size;
  }
}
  
