.tech { 
   display: flex;
   background-color: $green;
   flex-direction: column;
   align-items: center;
   box-shadow: -5px -5px red;
   border-radius: 5px;
   margin-left: 10px;
   padding: 30px;
   width: 200px;
   height: 300px;

  .tech-logo {
    width: $tech-logo-size;
    height: $tech-logo-size;
    margin-bottom: 5px;
  }

  .tech-title {
    font-size: $text-medium;
    margin: 5px 0;
  }

  .tech-release {
    font-size: $text-small;
    margin: 5px 0;
  }

  .tech-text{
    justify-content: center;
    font-size: $text-small;
    text-align: center;
    margin-top: 5px;
  }
}
