.title {
  align-items: center;
  display: flex;
  font-size: $text-big;
  height: $title-decoration-height;
  padding-left: $title-padding-left;
  position: relative;
  width: 100%;
   
  &::before {
    background-image: url("assets/triangle.svg");
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: $title-decoration-width;
    z-index: -1;
  }
}

@media only screen and (max-width: 1024px) {
  .title{
    justify-content: center;
    padding: 0;
    margin: auto;

    &::before {
      position: relative;
    }
  }
}
