.title {
  align-items: center;
  display: flex;
  font-size: $text-big;
  height: $title-decoration-height;
  padding-left: $title-padding-left;
  position: relative;
  width: 100%;
   
  &::before {
    background-image: url("assets/triangle.svg");
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    width: $title-decoration-width;
    position: absolute;
    left: 0;
    z-index: -1;
  }
}
