.tools-section {
  display: flex;
  flex-direction: column;
  margin: 100px auto; 
  max-width: 1000px; 
  width: 100%;

  .techs {
    display: grid;
    flex-wrap: wrap;
    padding: 20px;
    grid-template-columns: 2fr 1.5fr 1.5fr;
    grid-template-areas: 
    "first tech tech" 
    "first tech tech";
  }
}
