.tools{
  padding: 100px;
  
  .tools-section {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    
    .techs {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 20px;
    }
  }
}
