@import '../../../../sass/colors.scss';

.auth-container { 
  align-items: center; 
  background-color: $grey;
  border-top: 3px solid $blue;
  display: flex;
  flex-direction: column;
  margin: 150px auto;
  max-width: 350px;
  padding: 10px;
  width: 100%;

  .logo {
    height: 40px;
    margin: 20px 20px 10px;
  }

  .alert {
    background-color: $red;
    border-radius: 10px;
    color: $white;
  }

  .subtitle { 
    font-size: 12px;
    letter-spacing: 8px;
  }
}

.container-form {
  border-bottom: 3px solid $grey-soft;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  
  .label-input {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin: 10px;
  }
}

.container-input {
  border-radius: 10px;
  font-size: 15px;
  height: 40px;
  padding: 10px;
}
