<form [formGroup]="rForm" class="container-form" (ngSubmit)="register(rForm.value)">
  <label class="label-input" i18n>First name</label>
  <input type="text"  class="container-input" formControlName="firstName">
  <span class="alert" class="alert" *ngIf="firstName.invalid && firstName.touched">{{ RequiredErrorAlert}}</span>

  <label class="label-input" i18n>Last name</label>
  <input type="text" class="container-input" formControlName="lastName">
  <span class="alert" class="alert" *ngIf="lastName.invalid && lastName.touched">{{ RequiredErrorAlert}}</span>

  <label class="label-input" i18n>Email</label>
  <input type="email" class="container-input" formControlName="email">
  <span class="alert" class="alert" *ngIf="email.invalid && email.touched">{{ EmailErrorAlert }}</span>

  <label class="label-input" i18n>Password</label>
  <input type="password" class="container-input" formControlName="password">
  <span class="alert" class="alert" *ngIf="password.invalid && password.touched">{{ PassErrorAlert}}</span>
    
  <button type="submit" class="button-primary" [disabled]="rForm.invalid" i18n>Sign up </button>
</form>
<button type="button" class="button-secondary" routerLink="/login" i18n>Login</button>

