<div class="primary-container">
  <img class="logo" src="assets/wolox_logo.svg" alt="Wolox logo">
  <p class="subtitle">BOOKS</p>
  <form [formGroup]="rForm" class="container-form" (ngSubmit)="login(rForm.value)">
    <label class="label-input">Email</label>
    <input type="email" class="container-input" formControlName="email">

    <label class="label-input">Password</label>
    <input type="password" class="container-input" formControlName="password">
     
    <button type="submit" class="button-primary" [disabled]="rForm.invalid">Login </button>
  </form>
  <button type="button" class="button-secondary" routerLink="/sign-up">Sign up</button>
</div>