<div class="register">
  <img class="logo" src="assets/wolox_logo.svg" alt="Wolox logo">
  <p class="subtitle">BOOKS</p>
  <form [formGroup]="rForm" class="register-form" (ngSubmit)="register(rForm.value)">
    <label class="label-input">First name</label>
    <input type="text"  class="register-input" formControlName="firstName">
    <div class="alert" class="alert" *ngIf="firstName.invalid && firstName.touched">{{ RequiredErrorAlert}}</div>

    <label class="label-input">Last name</label>
    <input type="text" class="register-input" formControlName="lastName">
    <div class="alert" class="alert" *ngIf="lastName.invalid && lastName.touched">{{ RequiredErrorAlert}}</div>

    <label class="label-input">Email</label>
    <input type="email" class="register-input" formControlName="email">
    <div class="alert" class="alert" *ngIf="email.invalid && email.touched">{{ EmailErrorAlert }}</div>

    <label class="label-input">Password</label>
    <input type="password" class="register-input" formControlName="password">
    <div class="alert" class="alert" *ngIf="password.invalid && password.touched">{{ PassErrorAlert}}</div>
     
    <button type="submit" class="button-primary" [disabled]="rForm.invalid">Sign up </button>
    <button type="button" class="button-secondary">Login</button>
  </form>
</div>
